ATLAS_URI=mongodb+srv://<username>:<password>@<clusterName>.mongodb.net/<ProdcutionDBName>?retryWrites=true&w=majority
DB_NAME=MyDataBase

TEST_ATLAS_URI=mongodb+srv:/<username>:<password>@<clusterName>.mongodb.net/<TestingDBName>?retryWrites=true&w=majority
TEST_DB_NAME=MyTestingDatabase

PRODUCTION=False